body{
    font-family: 'Open Sans', sans-serif;
    width: 1900px;
    margin: 0 auto;
}

.header{
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #313131;
}

.header-search {
    padding: 26px 26px;
    background-color: black;
}

.header-nav{
    font-size: 15px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-decoration: none;
    margin-left: 50px;
    font-weight: 600;
}

.logo-picture {
    margin-left: 20px;
}

.logo-text {
    margin-left: 30px;
    font-weight: bold;
    color: #FFFFFF;
    text-decoration: none;
    font-size: 22px;
}

.logo-block {
    display: flex;
    align-items: center;
}

.section1 {
    height: 370px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url("../image/header-bg.jpeg");
    background-attachment: fixed;
    background-size: cover;
    background-position: 0 750px;

}

.section1-main-text {
    font-size: 27px;
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 50px;
}

.buttons-section {
    display: flex;
    justify-content: center;
}

.section1-button {
    width: 170px;
    height: 55px;
    color: #FFFFFF;
    font-size: 18px;
    border: none;
    cursor: pointer;
}

.btn-green {
    background: #89CA62;
}

.btn-blue {
    background: #14B9D5;
    margin-left: 20px;
}

.section2 {
    height: 1030px;
    background-color: #F2F2F2;
}

.h2-text-blue {
    text-align: center;
    text-transform: uppercase;
    color: #18B4CF;
    font-size: 27px;
    font-weight: bold;
    padding-top: 50px;
    margin-bottom: 50px;
}

.pic-col {
    display: flex;
    width: 370px;
    flex-direction: column;
}

.picture-column1 {
    display: flex;
    flex-direction: column;
}

.gallery {
    display: flex;
    justify-content: center;
}

.picture-column-text {
    padding: 20px 0;
    background-color: #FFFFFF;
    font-weight: bold;
    font-size: 18px;
    color: #353A3D;
    text-align: center;
}

.margin-right30 {
    margin-right: 30px;
}

.margin-bottom30 {
    margin-bottom: 30px;
}

.section3 {
    height: 588px;
    background-image: url("../image/section3.png");
    background-attachment: fixed;
    background-size: cover;
    background-position: 0 700px;
}
.popular-clients {
    display: grid;
    grid-template-columns: 210px 135px 232px 141px;
    justify-content: center;
    align-items: center;
    grid-gap: 40px;
}


.section3-header {
    font-weight: bold;
    font-size: 32px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-top: 190px;
    margin-bottom: 20px;
    text-align: center;
}

.section3-header:after {
    content: "";
    display: block;
    background-color: #18B4CF;
    width: 60px;
    height: 3px;
    margin: 45px auto;
}


.sec4-gallery {
    display: grid;
    grid-template-columns: repeat(7, 271px);
    grid-template-rows: 190px;
}

.news-section {
    display: grid;
    grid-template-rows: 258px 418px 416px 259px;
    grid-template-columns: repeat(4, 277px);
    background-color: rgba(0, 0, 0, 0.0001);
    padding: 0 360px 0 370px;
    grid-row-gap: 42px;
    justify-content: space-between;
}


.news-item {
    background-color: #14B9D5;
}

.long-post {
    display: grid;
    grid-template-columns: 483px 374px;
}

.news-description-long-post {
    background-color: #F9F7F7;
    padding: 40px 24px;
    text-align: end;
}


.sec5-header-post-text {
    font-weight: bold;
    font-size: 18px;
    color: #353A3D;
}

.sec5-small-post-header-text {
    background-color: #F9F7F7;
    text-align: center;
    padding-top: 15px;
}

.sec5-main-post-text {
    color: #5B6469;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    margin-top: 18px;
}
.small-post {
    display: grid;
    grid-template-columns: 277px;
    grid-template-rows: 210px 48px;
}

.sec5-medium-post {
    display: grid;
    grid-template-rows: 259px 157px;
    grid-template-columns: 554px;
}

.sec5-medium-post-description {
    background-color: #F9F7F7;
    padding-right: 27px;
    padding-top: 18px;
    text-align: end;
}

.sec5-post1 {
    grid-column: 1/4;
}

.sec5-post3 {
    grid-column: 1/3;
}

.sec5-post4 {
    grid-column: 3/5;
    justify-content: end;
}

.sec5-post5 {
    grid-column: 1/3;
}

.sec5-post6 {
    grid-column: 3/5;
    justify-content: end;
}

.sec5-post8 {
    grid-column: 2/5;
    justify-content: end;
}

.footer {
    background-color: #000000;
    height: 80px;
    margin-top: 70px;
    display: grid;
    grid-template-columns: 540px 110px;
    justify-content: space-between;
    align-items: center;
    padding: 0 360px 0 370px;
    color: #FFFFFF;
    font-size: 13px;
}