ul {
    list-style: none;
    padding-left: 0;
}

.centered-content {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tabs {
    display: flex;
}

.tabs-title {
    padding: 20px;
    background-color: #23201D;
    color: #937341;
    cursor: pointer;
}

.tabs-title.active {
    background-color: #937341;
    color: #23201D;
}


.tab-text {
    border: 3px solid black;
    display: none;
}

.tab-text.active {
    display: block;
}

/*// tabs = tabs-header*/
/*// tabs-title = tab*/

/*// tabs-content = tab-panel*/
/*// tab-text = tab-panel*/