.header {
  max-width: 800px;
  margin: 0 auto 20px;
  display: flex;
  justify-content: space-between;
  height: 30px;
  background-color: cadetblue;
  color: blueviolet;
  font-size: 20px;
  font-weight: bold;

  &__right-menu {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;

    &__favorites {
      cursor: pointer;
    }

    &__cart {
      cursor: pointer;
    }
  }

}