.burger {
  position: absolute;
  right: 15px;
  top: 50px;
  margin: 0 auto;
  display: none;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 44px;
  height: 40px;
  background-color: black;

  &__line {
    width: 17px;
    height: 2px;
    background-color: white;
    transition: 0.3s all ease-in-out;
  }
}

.burger-toggle {
  & > .burger__line:first-child {
    transform: rotate(45deg) translate(9px, 10px);
  }

  & > .burger__line:nth-child(2) {
    opacity: 0;
  }

  & > .burger__line:last-child {
    transform: rotate(-45deg) translate(9px, -10px);
  }
}

.burger-menu {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  position: absolute;
  right: 15px;
  top: 90px;
  width: 182px;
  height: 208px;
  background-color: #F5F5F5;
  padding-left: 12px;

  &__link {
    letter-spacing: 1.1px;
    text-transform: uppercase;
    color: #4E4E4E;
    text-decoration: none;
  }

  &__item {
    list-style: none;
  }
}

.burger-menu-active {
  display: flex;
}
