@import "variables";

.footer {
  height: 355px;
  background-color: #000000;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__header {
    margin: $window-center;
    color: #FEFEFE;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    padding-top: 58px;
  }
  &__text {
    max-width: 684px;
    color: #B9B9B9;
    font-size: 16px;
    margin-top: 22px;
    line-height: 28px;
    text-align: center;
  }
  &__socials {
    text-decoration: none;
    margin-top: 35px;
  }

  &__contacts {
    color: #B9B9B9;
    font-size: 16px;
    margin-top: 34px;
  }

}