@import "variables";

.header {


  &__menu {
    margin: $window-center;
    max-width: 810px;
    height: 118px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
  }

    &__item {
      list-style: none;
    }

    &__link {
      text-decoration: none;
      letter-spacing: 1.1px;
      font-size: 11px;
      text-transform: uppercase;
      color: #4E4E4E;
    }

    &__link:hover {
      color: #57A4A4;
    }

  &__picture {

  }

  &__img {
    max-width: calc(100% - 30px);
    height: auto;
    display: flex;
    justify-content: center;
    margin: 0 auto;
  }
}