@import "variables";

.instagram {
  margin-top: 68px;
  padding-bottom: 50px;
  background-color: #F7F7F7;

  &__header-section {
    max-width: $max1200;
    padding: 47px 15px 0;
    margin: 0 auto 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__header {
    color: $headerTextColor;
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
  }

  &__link {
    text-transform: uppercase;
    color: #4E4E4E;
    font-weight: bold;
    font-size: 13px;
    text-decoration: none;
  }
  &__foto {
    display: grid;
    justify-content: space-between;
    max-width: 1200px;
    padding: 0 15px;
    grid-template-columns: 24% 24% 24% 24%;
    margin: 0 auto;
  }

  &__img {
    max-width: 100%;
    height: auto;
  }
}