@import "variables";

.posts {
  max-width: $max1200;
  margin: 66px auto 0;

  &__header {
    padding: $padding15;
    color: $headerTextColor;
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 24px;
  }

  &__wrapper {
    padding: $padding15;
    display: flex;
  }
  &__image {
    width: 160px;
    height: 140px;
    margin-right: 20px;
  }
  &__header-text {
    color: $headerTextColor;
    font-weight: bold;
    font-size: 16px;
    line-height: 30px;
  }
  &__description {
    max-width: 380px;
  }
  &__information-text {
    font-size: 12px;
    line-height: 20px;
    color: #7C7C7C;
  }

  &__history-text {
    font-size: 14px;
    line-height: 26px;
    color: #5C5C5C;
  }
  &__all-posts {
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: space-between;
    grid-row-gap: 32px;
  }
}