.background {
    background-image: url("../image/bgrnd.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    font-family: 'Ubuntu', sans-serif;
}


.header {
    height: 60px;
    background-color: rgba(0,0,0,0.35);
    line-height: 60px;

}

.logo {
    float: left;
    vertical-align: middle;

}
.header-logo-text {
    color: #FFFFFF;
    font-weight: bold;
    font-size: 20px;
    margin-left: 80px;
    line-height: 100%;
    transition: color 0.8s;

}

.header-logo-text:hover {
    color:#3CB878;

}


.sprite-login-text {
    float: right;
    margin-right: 70px;
    vertical-align: middle;

}

.header-basic-text {
    color: #FFFFFF;
    font-size: 14px;
    display: inline-block;
    margin-left: 9px;
}

.text-green-link {
    text-decoration: none;
    font-size:14px;
    display: inline-block;
    margin-left: 2px;
    color: #FFFFFF;
    transition: color 0.8s;

}

.text-green-link:hover{
    color: #3CB878;

}


.sprite-icons {
    display: inline-block;
    width: 28px;
    height: 20px;
    background-image: url("../image/css_sprites_all.png");
    margin-right: 28px;
    vertical-align: middle;
}

.sprite-calendar {
    background-position: 208px 124px;
}

.sprite-calendar:hover {
    background-position: 208px 48px;
}

.sprite-forum {
    background-position: 132px 124px;
}
.sprite-forum:hover {
    background-position: 132px 48px;
}

.sprite-journey {
    background-position: 56px 124px;
}
.sprite-journey:hover {
    background-position: 56px 48px;
}

.margin-left {
    margin-left: 28px;
}

.main-reg-form {
    width: 444px;
    height: 584px;
    background: #FFFFFF;
    box-shadow: 0 4px 18px rgba(0, 0, 0, 0.52);
    position: fixed;
    left: 50%;
    top: calc((100% + 60px)/2);
    transform: translate(-50%, -50%);
    border-radius: 6px;


}

.clearfix::after {
    content: "";
    clear: both;
    display: block;
}

.input-field{
    width: 322px;
    height: 46px;
    border: 1px solid #F2F2F2;
    margin-bottom: 9px;
    border-radius: 6px;
    text-indent: 18px;

}

.input-field:focus {
    width: 324px;
    height: 48px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.21);
    border-radius: 4px;
    margin-bottom: 16px;
    margin-top: -9px;

}

.form {
    text-align: center;

}

.google-button {
    background: #DF4A32;
    float: right;
}

.reg-button {
    font-size: 16px;
    width: 160px;
    height: 48px;
    border-radius: 3px;

}

.facebook-button {
    background: #305DB8;
    float: left;

}

.button-text {
    display: inline-block;
    color: #FFFFFF;
    text-decoration: none;
    padding: 17px 20px 17px 37px;

}

.registration-form-text {
    font-size: 20px;
    float: left;
    position: relative;

}

.login-text {
    float: right;
    color: #3CB878;
    text-decoration: none;
    font-size:14px;
    display: inline-block;
    line-height: 20px;

}

.center {
    padding: 30px 60px;
    position: relative;
}

.form-top-text {
    margin-bottom: 18px;
    position: relative;
}

.registration-form-text:before{
    width: 18px;
    height: 18px;
    background: #3CB878;
    content:"";
    display: inline-block;
    margin-left: -60px;
    position: absolute;

}


.fa-facebook-f {
    color: white;
    width: 10px;
    height: 20px;
    display: inline-block;
    padding-left: 20px;
}

.psevdo-line:before{
    background: #0A162F;
    display: inline-block;
    width: 1px;
    height: 28px;
    content: "";
    position: absolute;
    margin-top: 10px;
    margin-left: 48px;
    opacity: 0.1;
}


.fa-google-plus-g {
    color: white;
    width: 25px;
    height: 16px;
    display: inline-block;
    padding-left: 15px;

}

.free-text {
    font-size: 14px;
    color: #848484;
    text-align: center;
    margin-top: 22px;
    margin-bottom: 18px;
}


.checkbox {
    margin-top: 18px;
    display: none;
}

.checkbox-label {
    font-size: 14px;
    color: #434343;
    line-height: 20px;
    vertical-align: middle;
}

.checkbox-label:before {
    content: " ";
    color: #3CB878;
    display: inline-block;
    width: 20px;
    height: 20px;
    text-align: center;
    margin-right: 10px;
    border: 1px solid #F2F2F2;
    vertical-align: middle;

}

.checkbox:checked + .checkbox-label::before {
    content: "\2714";
    font-size: 22px;
}

.text-terms {
    text-decoration: none;
    font-size:14px;
    display: inline-block;
    margin-left: 2px;
    color: #3CB878;

}

.create-acc {
    width: 322px;
    height: 46px;
    background: #3CB878;
    color: #FFFFFF;
    font-size: 16px;
    border-radius: 6px;
    border: none;
    cursor:pointer;
    margin-top: 28px;

}