.product-item {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  border: 2px solid gray;
  width: 220px;
  height: 370px;

  &__img {
    width: 30%;
    height: 230px;
    margin-top: 10px;
  }

  &__description {
    display: grid;
    font-weight: bold;
  }

  &__btn {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
  }
}
.image-wrapper {
  width: 220px;
}
