
.body {
    background-image: url("../img/background.png");
    width: 1366px;
    height: 768px;
    background-repeat: no-repeat;
    margin: auto;
    font-family: "Roboto", "Arial Unicode MS", sans-serif;
}

.picture-row1 {
    padding: 0 152px;
}


.galery-picture1 {
    width: 307px;
    float: left;
}

.galery-picture1:hover .info-hidden {
    visibility: visible;
    -webkit-transform: translateY(-62px);
    transition-duration: 1s;
    text-decoration: none;
}


.galery-picture2 {
    width: 307px;
    float: left;
    margin-left: 68px;

}

.galery-picture2:hover .info-hidden {
    visibility: visible;
    -webkit-transform: translateY(-62px);
    transition-duration: 1s;
    text-decoration: none;
}

.galery-picture3 {
    width: 307px;
    float: left;
    margin-left: 68px;

}


.galery-picture3:hover .info-hidden {
    visibility: visible;
    -webkit-transform: translateY(-62px);
    transition-duration: 1s;
    text-decoration: none;
}


.picture-row2 {
    padding: 0 152px;
    margin-top: 66px;


}

.galery-picture4 {
    width: 307px;
    float: left;

}

.galery-picture4:hover .info-hidden {
    visibility: visible;
    -webkit-transform: translateY(-62px);
    transition-duration: 1s;
    text-decoration: none;
}

.galery-picture5 {
    width: 307px;
    float: left;
    margin-left: 68px;

}

.galery-picture5:hover .info-hidden {
    visibility: visible;
    -webkit-transform: translateY(-62px);
    transition-duration: 1s;
    text-decoration: none;
}

.galery-picture6 {
    width: 307px;
    float: left;
    margin-left: 68px;

}


.galery-picture6:hover .info-hidden {
    visibility: visible;
    -webkit-transform: translateY(-62px);
    transition-duration: 1s;
    text-decoration: none;
}

.picture {
    width: 307px;
    height: 200px;
    display: block;
    overflow: hidden;
    text-decoration: none;

}

.info-hidden {
    height: 63px;
    color: white;
    background-color: #F26522;
    position: relative;
    top: -3px;
    visibility: hidden;

}

.gallery-text {
    position: relative;
    display: block;
    text-align: center;
    margin-top: 19px;
    font-size: 18px;
    color: white;
    text-decoration: none;


}

.info-hidden-text {
    font-size: 10px;
    color: white;
    padding-left: 21px;
    padding-top: 11px;
    line-height: 21px;


}

.info-hidden-price {
    font-size: 20px;
    color: white;
    padding-left: 21px;
    float: left;
    margin-top: 6px;

}

.info-hidden-details {
    color: white;
    font-size: 14px;
    float: left;
    padding-left: 128px;
    padding-top: 10px;

}


.info-hidden-details:after {
    content: ">";
    margin-left: 24px;
    color: white;
}


.clearfix::after {
    content: "";
    clear: both;
    display: block;
}

.footer-text {
    color: white;
    display: block;
    text-align: center;
    margin-top: 55px;
}

.gallery {
    padding-top: 34px;
}

.galery-picture1:hover .gallery-text {
    color: #F26522;
}

.galery-picture2:hover .gallery-text {
    color: #F26522;
}

.galery-picture3:hover .gallery-text {
    color: #F26522;
}

.galery-picture4:hover .gallery-text {
    color: #F26522;
}

.galery-picture5:hover .gallery-text {
    color: #F26522;
}

.galery-picture6:hover .gallery-text {
    color: #F26522;
}

.logo-text1 {
    color: white;
    font-weight: bold;
    font-size: 29px;
    text-decoration: none;

}

.logo-text2 {
    color: white;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    text-decoration: none;

}

.header {
    padding: 0 152px;

}


.logo {
    background-color: crimson;


}

.text-logotip {
    float: left;

}

.logo-hover:hover .logo-text1 {
    color: #F26522;

}

.logo-hover:hover .logo-text2 {
    color: #F26522;
}

.logo-hover:hover .header-picture {
    background-image: url("../img/logo2.png");
}

.contact-info {
    float: right;
    font-size: 18px;
    color: white;

}

.contact-text1 {
    margin-bottom: 17px;
    padding-top: 58px;
    text-align: right;
}

.conttact-text2 {
    text-align: right;
}

.header-picture {
    display: block;
    background-image: url("../img/logo.png");
    margin-right: 10px;
    background-repeat: no-repeat;
    width: 46px;
    height: 44px;
    float: left;


}

.logo-hover {
    float: left;
    padding-top: 49px;
}

.border-gradient{
    background: linear-gradient(to bottom, orangered, purple, coral, rgba(130, 154, 255, 0.15));
    padding: 2px;

}
