.header {

    text-align: center;
    padding: 30px;

}

.headmenu {
    color: red;
    text-transform: uppercase;
    margin-right: 58px;
    font-weight: bold;
}

.image {
    text-align: center;
}


.zagolovok {
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    padding-top: 47px;
    padding-bottom: 22px;
    letter-spacing: 3.3px;
    font-size: 22px;
}

.abzac {
    color: #373737;
    text-align: center;
    font-size: 16px;
    letter-spacing: 2.4px;
    padding-left: 20%;
    padding-right: 20%;

}

.button {
    margin: 50px auto 50px auto;
    background: #FF0000;
    color: white;
    text-align: center;
    text-transform: uppercase;
    border: none;
    border-radius: 3px;
    width: 195px;
    height: 54px;
    display: block;
    font-weight: bold;
}

.copyright {
    height: 110px;
    margin-top: 100px;
    padding-left: 60%;
}

.copytext {
    font-size: 16px;
    color: #373737;
    font-weight: bold;
    letter-spacing: 2.4px;

}
