
.header {

    margin: 30px auto;
    text-align: center;
}
.headmenu {
    text-transform: uppercase;
    color: red;
    margin: 30px;
    font-weight: bold;
}
.image {
    text-align: center;
    width: 100%;
}
.zagolovok {
    text-transform: uppercase;
    font-weight: bold;
    margin: 50px 0 22px;
    letter-spacing: 3.3px;
    font-size: 22px;
    text-align: center;
}
.abzac {
    margin: 30px 68px 40px;
    color: #373737;
    text-align: center;
    font-size: 16px;
    letter-spacing: 2.4px;
    line-height: 26px;

}
.section {
    width: 1280px;
    margin: auto;
}
.button {
    margin: 50px auto 65px auto;
    background: #FF0000;
    text-align: center;
    text-transform: uppercase;
    border: none;
    border-radius: 3px;
    width: 200px;
    height: 60px;
    display: block;
    font-weight: bold;
}
.buttonstart {
    color: white;
}

.copytext {
    margin-bottom: 55px;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 2.4px;
    margin-left: 692px;
}

