.header {
    width: 1280px;
    text-align: center;
    padding: 30px;
    margin-left: auto;
    margin-right: auto;

}

.headmenu {
    color: red;
    text-transform: uppercase;
    margin-right: 58px;
    font-weight: bold;
}
.section {
    width: 1280px;
    margin-left: auto;
    margin-right: auto;

}

.zagolovok {
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    padding-top: 47px;
    padding-bottom: 22px;
    letter-spacing: 3.3px;
    font-size: 22px;
}

.abzac {
    color: #373737;
    text-align: center;
    width: 1145px;
    padding-left: 68px;
    padding-right: 68px;
    font-size: 16px;
    letter-spacing: 2.4px;
}

.button {
    margin: 50px auto 50px auto;
    background: #FF0000;
    color: white;
    text-align: center;
    text-transform: uppercase;
    border: none;
    border-radius: 3px;
    width: 195px;
    height: 54px;
    display: block;
    font-weight: bold;
}

.copyright {
    height: 108px;
    width: 1280px;
    margin: 0 auto;


}

.copytext {
    margin-top: 40px;
    margin-right: 20px;
    margin-left: 120px;
    font-size: 16px;
    color: #373737;
    font-weight: bold;
    letter-spacing: 2.4px;
    width: 1145px;
    text-align: right;
}
