body {
    background-color: black;
}

.all-page {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.gold-text {
    color: goldenrod;
    font-weight: bold;
    line-height: 2em;
    font-size: 50px;
    font-family: sans-serif;

}

.gold-text-big {
    font-size: 65px;
}

.window-star-wars {
    background-color: black;
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 70%;
    height: 95%;
    margin-left: -35%;
    overflow: hidden;
    font-size: 40px;
    transform: perspective(900px) rotateX(55deg);
    text-align: center;
}

.content {
    position: relative;
    animation-name: star-wars-animation;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes star-wars-animation {
    0% {
        top: 100%;
    }
    100% {
        top: -200%;
    }
}


.new-theme {
}