body {
    font-family: sans-serif;
}

.header {
    height: 596px;
    width: 100vw;
    position: relative;

    background-image: url("../image/bg1.jpg");
    background-size: cover;
    z-index: -1;

}



.header:before {
    content: "";
    position:absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);}

.dark-fon {
    background-color: black;
    opacity: 0.5;
    height: 100%;


}


.header-menu {
    height: 113px;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    padding: 0 200px;
    justify-content: space-between;
    position: relative;
    top: 30px;
    left: 0;
}


.nav-menu-item {
    text-decoration: none;
    font-weight: bold;
    font-size: 15px;
    text-transform: uppercase;
    color: black;
}

.nav-menu-item:hover {
    color: #14AFCA;
}

.nav-menu {
    display: flex;
    width: 595px;
    justify-content: space-between;
}

.r-coner {
    position: absolute;
    width: 0;
    height: 0;
    right: 0;
    top: calc(100% - 82px);
    border-bottom: #14AFCA solid 82px;
    border-left: 50vw transparent solid;
}

.l-coner {
    position: absolute;
    width: 0;
    height: 0;
    left: 0;
    top: calc(100% - 82px);
    border-bottom: #14AFCA solid 82px;
    border-right: 50vw transparent solid;
}

.slogan {
    position: absolute;
    height: calc(100% - 115px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.slogan-text {
    font-weight: bold;
    color: #FFFFFF;
    font-size: 52px;
    line-height: 75px;
    text-transform: uppercase;

}