.modal-wrapper {
  height: 200px;
  width: 400px;
  margin: 50px auto;
  color: white;
  border-radius: 5%;

  &__header {
    display: flex;
    justify-content: space-between;
    font-size: 22px;
    padding: 22px 31px;

  }
  &__main {
    display: flex;
    margin: 0 auto;
    width: 75%;
    justify-content: space-around;
  }
  &__main-text {
    padding: 30px;
    font-size: 15px;
  }
}

.close-btn {
  border: none;
  font-weight: bold;
  color: white;
  background-color: darkgrey;
}
.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
}