@media screen and (max-width: 768px) and (min-width: 321px) {

}


@media screen and (max-width: 320px) {
    .footer {
      &__header {
        font-size: 14px;
        padding-top: 38px;
      }
      &__text {
        font-size: 12px;
        line-height: 20px;
        padding: 0 15px;
      }
      &__social {
        margin-top: 25px;
      }
      &__contacts {
        width: 200px;
        text-align: center;
        margin-top: 25px;
        font-size: 14px;
        line-height: 24px;
        padding: 0 15px;
      }
    }
}