@media screen and (max-width: 768px) and (min-width: 321px) {
  .instagram {
    &__last-post {
      display: none;
    }
    &__foto {
      grid-template-columns: 33% 33% 33%;
    }
  }
}

@media screen and (max-width: 320px) {
  .instagram {
    &__header {
      font-size: 14px;
    }
    &__link {
      display: none;
    }
    &__foto {
      grid-template-columns: 100%;
    }
  }
}