@media screen and (max-width: 768px) and (min-width: 321px) {
  .posts {
    &__all-posts {
      grid-template-columns: 100%;
    }
  }
}

@media screen and (max-width: 320px) {
  .posts {
    &__history-text {
      display: none;
    }
    &__all-posts {
      grid-template-columns: 100%;
    }
    &__header-text {
      margin-top: 10px;
      font-size: 14px;
      line-height: 25px;
    }
    &__wrapper {
      flex-direction: column;
    }
  }
}