
.section {
    margin: auto;
    padding: 0 98px;
    width: 1280px;
}

.section::after {
    display: block;
    content: '.';
    clear: both;
    height: 0;

}

.logo-all {
    padding-top: 36px;
    height: 110px;
}


.logo1 {
    font-size: 80px;
    color: black;
    text-align: center;
    text-decoration: none;
}

.logo2 {
    font-size: 80px;
    color: deepskyblue;
    text-align: center;
    text-decoration: none;
}


.spisok {
    display: inline-block;
    margin-top: 50px;
    border: 1px solid #000000;
    float: left;
    margin-right: 46px;
    width: 344px;

}

.picture {
    display: inline-block;
    border: 1px solid #000000;
    margin-top: 50px;
    width: 886px;
    height: 530px;
    float: right;
}

.blackpicture {
    padding: 74px 270px;

}

.blackpicture:hover {
    -webkit-transform: scale(1.2);
}


.text-under-picture {
    width: 886px;
    margin-top: 42px;
    float: right;
}

.punkt-menu {
    line-height: 74px;
    width: 99%;
}

.punkt-menu:hover {
    background: #DBDBDB;

}


.spisok-menu {
    list-style: none;
    padding-inline-start: 0;
}

.text-spisok-menu {
    text-decoration: none;
    color: #495863;
    font-size: 27px;
    display: block;
    padding-left: 44px;

}

.text-spisok-menu:hover {
    color: black;
    padding-left: 65px;
}


.nav-punkt {
    background-color: #35444F;
    font-size: 24px;
    padding: 25px 38px;
    text-decoration: none;
    color: #FFFFFF;
}


.nav-punkt:hover {
    background-color: #222F3A;
    border: 1px solid white;
}


.nav-menu {
    text-align: center;
    background-color: #35444F;
    padding: 25px 0;
}

.footer {
    margin: 30px auto;
    width: 1280px;
    background: rgba(99, 105, 110, 0.48);
    padding: 25px 0;
}

.footer-menu {
    display: inline-block;
    margin-left: 43px;

}

.footer-menu-text {
    color: #0C1927;
    font-size: 28px;
    text-decoration: none;
}

.footer-menu-text:hover {
    color: #3181A6;
    text-decoration: underline;

}


.copyright {
    font-size: 24px;
    color: #0C1927;
    margin-left: 140px;
}

.new-theme {
    height: 80px;
    width: 80px;
    position: absolute;
    top: 25px;
    border-radius: 50%;
    background-color: black;
    color: orange;
    border: 2px solid white;
    cursor: pointer;
    font-size: 10px;

}

.clicked {
    top: 100px;
    color: #FFFFFF;
}