.image-to-show {
    width: 400px;
    height: 400px;

}

.images-wrapper {
    /*margin: 0 auto;*/
    display: flex;
    /*width: 400px;*/
    position: relative;

}

.btn-wrapper {
    display: flex;
    justify-content: center;

}

.slider {
    display: flex;
    border: 5px solid blue;
    width: 400px;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
}
