.modal-wrapper {
  height: 253px;
  width: 517px;
  margin: 50px auto;
  color: white;

  &__header {
    display: flex;
    justify-content: space-between;
    font-size: 22px;
    padding: 22px 31px;
  }
  &__main {
    display: flex;
    margin: 0 auto;
    width: 50%;
    justify-content: space-around;
  }
  &__main-text {
    padding: 30px;
    font-size: 15px;
  }
}

.close-btn {
  border: none;
  font-weight: bold;
  color: white;
  background-color: darkgrey;
}