html {
    overflow-x: hidden;
}


body {
    min-width: 1200px;
    font-family: 'Montserrat', sans-serif;

}

.the-ham {
    background-image: url("../image/layer1_bg.png");
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

.header-menu {
    list-style: none;
    display: flex;
    align-items: center;
}

.header {
    background: rgba(94, 93, 88, 0.6);
}

.container {
    max-width: 1160px;
    margin: 0 auto;
}

.the-ham-header-wrapper {
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-menu-item {
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.6);
}

.header-menu-item:hover {
    color: #18CFAB;
}

.header-menu li {
    box-sizing: border-box;
    margin-right: 21px;
    line-height: 118px;
}

.header-menu li:last-child {
    margin-right: unset;
}

.header-menu li:hover {
    color: #18CFAB;
    border-bottom: 2px solid #18CFAB;
}

.hexagon {
    width: 68px;
    height: 32px;
    background: #18CFAB;
    position: relative;
    margin: 10px 6px 10px auto;
    text-align: center;
    vertical-align: center;
    text-decoration: none;
    font-weight: bold;
    font-size: 40px;
    color: #FFFFFF;
}

.hexagon:before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top: -17px;
    left: 0;
    border-left: 34px solid transparent;
    border-right: 34px solid transparent;
    border-bottom: 17px solid #18CFAB;
}

.hexagon:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    bottom: -17px;
    left: 0;
    border-left: 34px solid transparent;
    border-right: 34px solid transparent;
    border-top: 17px solid #18CFAB;
}

.logo {
    display: flex;
    align-items: center;
}

.header-menu-search:hover {
    cursor: pointer;
}

.text-h3-white {
    font-weight: bold;
    font-size: 35px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.text-h3-green {
    font-weight: bold;
    font-size: 35px;
    text-transform: uppercase;
    color: #18CFAB;
}

.text-h1-white {
    font-weight: bold;
    font-size: 78px;
    text-transform: uppercase;
    text-align: center;
    color: #FFFFFF;
    margin: 22px auto;
}

.text-sector-sec-the-ham {
    margin-top: 264px;
}

.text-sector-sec-the-ham div {
    text-align: center;
}

.text-h3-grey {
    color: #D4D4D4;
    font-weight: normal;
    font-size: 34px;
    text-align: center;
}

.button-all-page {
    width: 169px;
    height: 63px;
    border-radius: 5px;
    border: none;
    font-weight: bold;
    font-size: 15px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    cursor: pointer;
    box-shadow: -1px -7px 4px -4px #FFFFFF;
}

.green-btn {
    background: #18CFAB;
    margin-right: 26px;
}

.blue-btn {
    background: #00CBF6;
}

.button-sector-sec-the-ham {
    margin-top: 130px;
    display: flex;
    justify-content: center;
}

.box-container-sec-2 {
    margin-top: 8px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: stretch;
    font-weight: bold;
    font-size: 20px;
}

.box-container-sec-2 a {
    text-decoration: none;
}

.box-container-sec-2 img {
    margin: 85px auto 0 auto;
}

.box-container-sec-2 p {
    margin-top: 47px;
    text-align: center;
    text-transform: uppercase;
}

.item-box-container-sec2 {
    height: 370px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.box-black-text-green {
    background-color: #1C2A33;
    color: #18CFAB;
}

.box-green-text-white {
    background-color: #18CFAB;
    color: #FFFFFF;
}

.header-of-section {
    font-weight: normal;
    font-size: 36px;
    color: #4E4E4E;
    text-align: center;
    position: relative;
}

.header-of-section:after {
    content: "";
    align-items: center;
    margin-top: 30px;
    display: block;
    width: 79px;
    border-bottom: 1px solid #18CFAB;;
    box-shadow: 20px 5px 0 0 #18CFAB;
    position: absolute;
    left: 532px;
}

.our-services-section p {
    margin-top: 83px;
}

.tabs-wrapper menu {
    list-style: none;
    padding-left: 0;
}

.tabs-wrapper {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tabs {
    display: flex;
    margin-bottom: 28px;
}

.tabs-title {
    width: 192px;
    height: 76px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F8FCFE;
    box-sizing: border-box;
    border: 1px solid #F2F2F2;
    cursor: pointer;
    color: #717171;
    font-size: 16px;
}

.tabs-title.active {
    background-color: #18CFAB;
    color: #FFFFFF;
    position: relative;
}

.tabs-title.active:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top: 73px;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid #18CFAB;
}

.tabs-title:hover {
    border: 2px solid #18CFAB;
    box-sizing: border-box;
}

.tab-text {
    display: none;
}

.tab-text span {
    color: #777777;
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
}

.tab-text.active {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 15px;
}

.everything-is-ready {
    height: 476px;
    width: 100vw;
    background-image: url("../image/section-2.jpg");
    background-size: cover;
    background-position: center;
}

.sec4-green-btn {
    background: #18CFAB;
    margin-top: 70px;
    margin-bottom: 100px;
}

.sec4-green-btn:active {
    height:50px;
    width: 50px;
    border-radius: 50%;
    transition-duration: 2s;
}



.everything-is-ready div {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.text-main-sec-everything {
    text-transform: uppercase;
    color: #18CFAB;
    font-weight: bold;
    font-size: 40px;
    margin-top: 127px;
}

.text-h4-sec-everything {
    font-size: 16px;
    margin-top: 36px;
    color: #D8D8D8;
}

.our-amazing-work p {
    padding-top: 95px;
}

.our-amazing-work menu {
    margin-top: 70px;
}

.tabs-our-amazing-work {
    display: flex;
    margin-bottom: 71px;
    height: 58px;
    justify-content: center;
}

.tabs-our-amazing-work:first-child {
    width: 78px;
}

.tabs-title-our-amazing-work {
    padding: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #DADADA;
    cursor: pointer;
    color: #717171;
    font-size: 14px;
    background: rgba(0, 0, 0, 0.0001);
}

.active-amaz-menu {
    color: #18CFAB;
    box-sizing: border-box;
    border: 2px solid #18CFAB;
}

.our-amazing-work {
    background: #E9EDEF;
    width: 100vw;
}

.gallery-our-amazing-work {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.button-load {
    display: flex;
    justify-content: center;
}

.hide-hover-block {
    background-color: #E9EDEF;
    width: 285px;
    height: 211px;
    box-sizing: border-box;
    border-top: 2px solid #18CFAB;
    display: flex;
    flex-direction: column;
    align-items: center;
    visibility: hidden;
}

.hide-hover-block div {
    margin-top: 46px;
}

.hidden-main-text {
    color: #18CFAB;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    margin-top: 32px;
}

.hidden-category-text {
    color: #8A8A8A;
    font-weight: 300;
    font-size: 12px;
    margin-top: 12px;
}

.boxPicture {
    overflow: hidden;
    width: 285px;
    height: 211px;
}

.boxPicture:hover .hide-hover-block {
    visibility: visible;
    -webkit-transform: translateY(-209px);
    transition-duration: 0.5s;
}

.hide {
    display: none;
}


.breaking-news p {
    margin-top: 82px;
}

.item-breaking-news {
    display: flex;
    flex-direction: column;
    text-decoration: none;
}

.picture-sec-breaking-news {
    position: relative;
    width: 263px;
    height: 282px;
}

.picture-sec-breaking-news:hover .date-top-right {
    background-color: #18CFAB;
}

.picture-sec-breaking-news:hover .main-text-card-breaking-news {
    color: #18CFAB;
}


.date-top-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 70px;
    height: 68px;
    background-color: #203E38;
    color: #FFFFFF;
    position: absolute;
    right: 0;
    top: 0;
}

.breaking-news-wrapper {
    margin-top: 100px;
    margin-bottom: 128px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-between;
    row-gap: 46px;
}

.text-sec-breaking-news {
    height: 72px;
    display: flex;
    flex-direction: column;
    padding-left: 15px;
}

.text-sec-breaking-news div {
    margin-top: 18px;
}

.main-text-card-breaking-news {
    color: #717171;
    font-weight: bold;
    font-size: 18px;
    margin-top: 18px;
}

.comment-text-card-breaking-news {
    color: #777777;
    font-weight: 300;
    font-size: 14px;
}

.space-text-card {
    margin-right: 12px;
}

.space-text-card:after {
    content: "";
    width: 1px;
    height: 10px;
    display: inline-block;
    background: #777777;
    margin-left: 14px;
}

.what-people-say {
    background-image: url("../image/secWhatPeople/section3.jpg");
    background-size: cover;
    width: 100vw;
    height: 853px;
    background-position: center;
}

.header-text-what-people {
    color: #FFFFFF;
    padding-top: 100px;
}

.footer {
    background-color: #22353F;
    height: 121px;
    display: flex;
    align-items: center;
    margin-top: 68px;

}

.footer-text {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-green-Text {
    font-size: 14px;
    color: #18CFAB;
    margin-left: 5px;
}

.footer-green-Text:after {
    content: "";
    width: 1px;
    height: 13px;
    display: inline-block;
    background: #AEAEAE;
    margin-left: 7px;
    margin-right: 7px;
}

.footer-grey-text {
    color: #AEAEAE;
    font-size: 14px;
}

.slider-container {
    margin-top: 100px;
}

.slider-bottom-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.next {
    margin-left: 3px;
    width: 33px;
    height: 34px;
    font-size: 15px;
    cursor: pointer;
    border: 1px solid #BBBBBB;
    color: #BBBBBB;
    display: flex;
    align-items: center;
    justify-content: center;
}

.prev {
    margin-right: 30px;
    width: 33px;
    height: 34px;
    font-size: 15px;
    cursor: pointer;
    border: 1px solid #BBBBBB;
    color: #BBBBBB;
    display: flex;
    align-items: center;
    justify-content: center;
}

.prev:hover, .next:hover {
    color: #FFFFFF;
    background-color: #18CFAB;
}


.mySlides {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mySlides p {
    margin-top: 36px;
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
    align-items: center;
    text-align: center;
    color: #BBBBBB;
    transition-duration: 2s;
}

.dot {
    width: 61px;
    height: 61px;
    border-radius: 50%;
    margin-right: 27px;
}

.dot:hover {
    border: 5px solid rgba(31, 218, 181, 0.2);
    box-sizing: border-box;
}

.active-for-slider {
    border: 5px solid rgba(31, 218, 181, 0.2);
    transform: translateY(-10px) scale(1.4);
    box-sizing: border-box;
}

.slider-name-of-worker {
    margin-top: 37px;
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
    color: #18CFAB;
}

.slider-position-of-worker {
    margin-top: 20px;
    font-weight: 300;
    font-size: 16px;
    color: #BBBBBB;
}

.slider-foto-of-worker {
    margin-top: 38px;
    border: 9px solid rgba(31, 218, 181, 0.2);
    box-sizing: border-box;
    border-radius: 50%;
    width: 166px;
    height: 166px;
}

.hide-pict-our-amazing {
    display: none;
}