@font-face {
    font-family: 'Arimo';
    src: url('../fonts/Arimo/Arimo-Regular.eot');
    src: url('../fonts/Arimo/Arimo-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Arimo/Arimo-Regular.woff2') format('woff2'),
    url('../fonts/Arimo/Arimo-Regular.woff') format('woff'),
    url('../fonts/Arimo/Arimo-Regular.ttf') format('truetype'),
    url('../fonts/Arimo/Arimo-Regular.svg#Arimo-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}


body{
    font-family: 'Arimo', sans-serif;
}


.table{
    border: #3A4965 solid;
    border-width: 28px 29px 21px 27px;
    margin: 0 auto;

}

.header-big-cell{
    width: 201px;
    height: 115px;
    border-bottom:12px solid #3A4965;
    background: #FAFAFA;
    vertical-align: middle;
}


.header-main-cell{
    width: 160px;
    height: 115px;
    border-bottom:12px solid #3A4965;
    vertical-align: middle;

}

.menu-cell{
    border-bottom: 2px solid rgba(0,0,0,0.1);
    width: 198px;
    height: 164px;
    background: #848484;


}

.main-cell{
    border-bottom: 2px solid rgba(0,0,0,0.15);
    width: 158px;
    height: 166px;
    background: #484848;
    vertical-align: middle;

}

.grey-cell{
    background: #E3E3E3;
}

.white-cell{
    background: #F2F2F2;
}

.green-cell{
    background: #89C331;
}
.red-cell{
    background: #F04A56;
}

.blue-cell{
    background: #20807C;
}

.main-cell-text{
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
    color: #484848;

}

.base-text {
    margin-bottom: 10px;
}

.header-main-cell-text {
    text-transform: uppercase;
    color: #484848;
    font-weight: bold;
    text-align: center;
}

.header-font-size20 {
    font-size: 20px;
}

.header-font-size14{
    font-size: 14px;
    margin-top: 15px;
    margin-bottom: 5px;
}

.header-icon {
    font-size: 24px;
    color: #848484;
    margin-bottom: 10px;
}

.button-buy {
    display: block;
    background: #414141;
    border-color: #393939;
    width: 147px;
    height: 44px;
    font-size: 16px;
    text-transform: uppercase;
    border-radius: 4px;
    color: #FFFFFF;
    cursor: pointer;
    border-bottom-style: inset;
    border-width: 0 0 4px;
    font-weight: bold;
    padding-top: 6px;
    margin: 50px auto 0;






}

.plan-name {
    font-weight: bold;
    font-size: 24px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 10px;
    margin-bottom: 9px;
    text-align: center;

}

.price-dollars {
    font-size: 36px;
    top: 0;
    left: 0;
    position: absolute;


}

.price-cents {
    font-size: 18px;
    position: absolute;
    top: 0;
    left: 40px;

}

.per-period {
    font-size: 14px;
    position: absolute;
    top: 12px;
    left: 70px;

}

.plan-info {
    font-weight: bold;
    text-transform: uppercase;
    color: #FFFFFF;
    position: relative;
    margin: 0 20px;
}