.table {
    border: solid #3A4965;
    border-width: 22px 29px 29px 20px;
    margin: 0 auto;
    font-family: 'Arimo', sans-serif;

}

.table-header {
    width: 280px;
    height: 73px;
    vertical-align: middle;
}

.header-text-standart {
    color: #FFFFFF;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;

}

.cell-green {
    background: #89C331;
    font-size: 24px;
}

.cell-blue{
    background: #20807C;
    font-size: 24px;
}

.cell-red{
    background: #F04A56;
    font-size: 30px;
}

.price-cell {
    width: 280px;
    height: 89px;
    background: #FAFAFA;
    text-transform: uppercase;
    font-weight: bold;
    vertical-align: bottom;
    color: #484848;
    border-right: 1px solid #CACACA;
    position: relative;


}

.main-cell-text{
    text-transform: uppercase;
    color: #484848;
    font-size: 16px;
}

.body-cell{
    text-align: center;
    vertical-align: middle;
    width: 280px;
    height: 72px;
    border-right: 1px solid #CACACA;

}

.main-cell{
    text-align: center;
    vertical-align: middle;
    width: 312px;
    height: 72px;
    border-right: 2px solid #DEDEDE;

}


.light-grey-cell{
    background: #F2F2F2;

}
.grey-cell{
    background: #E3E3E3;

}

.footer-cell {
    width: 280px;
    height: 109px;
    vertical-align: middle;
    text-align: center;
    border-right: 1px solid #CACACA;

}

.dark-gray-footer{
    background: #DDDDDD;
}

.light-grey-footer{
    background: #EEEEEE;
}
.white-footer{
    background: #F4F4F4;
}

.footer-button {
    width: 195px;
    height: 54px;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
    border-radius: 4px;
    color: #FFFFFF;
    cursor: pointer;
    border-bottom-style: inset;
    border-width: 0 0 9px;
    padding-top: 9px;

}

.footer-button:hover{
    opacity: 90%;
    border-radius: 50%;
    transition: 0.3s;
    font-size: 130%;

}


.footer-button-black{
    border-color: #404040;
    background: #484848;

}

.footer-button-green{

    border-color: #79B027;
    background: #89C331;
}

.footer-button-red{

    border-color: #DF3A46;
    background: #F04A56;
}
.footer-button-blue{

    border-color: #16736F;
    background: #20807C;
}


.border-right {
    border-right: 2px solid #DEDEDE;
}

.dollars {
    font-size: 50px;
    margin-left: 35px;
}

.cents {
    font-weight: bold;
    font-size: 24px;
    position: absolute;
    margin-top: -9px;
}

.period {
    font-size: 18px;
    position: absolute;
    font-weight: normal;
    margin-top: 14px;
}

.header-text-big {
     font-weight: bold;
     font-size: 18px;
     text-align: center;
     color: #484848;
     text-transform: uppercase;
 }

.header-text-big2 {
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    color: #484848;
    text-transform: uppercase;
    margin-top: 10px;
}

.main-cell-picture {
    margin-right: 8px;
    color: #848484;
    font-size: 20px;
}